.action-items {
    border-right: 1px solid rgb(212, 210, 210);
    gap: 4px;
    color: black !important;

    @media (min-width: 0) and (max-width: 767.98px) {
        border-right: 0
    }

    &.speeches {
        @media (min-width: 768px) and (max-width: 991.98px) {
            border-right: 0;
        }
    }

    &.write-to-gss {
        @media (min-width: 768px) and (max-width: 991.98px) {
            border-right: 0;
        }
    }

    &.gallery {
        border: 0;

        @media (min-width: 768px) and (max-width: 991.98px) {
            border-right: 1px solid black;
        }
    }

    &.gss-library {
        border: 0;
    }
}

.actions-container {
    border-color: #e76666 !important;
}