%icon-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    height: 92px;
    border-bottom: 2px solid #2fbcd1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .nav-icon {
        width: 40px;
        height: 30px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-right: 8px;

        span {
            display: block;
            position: absolute;
            height: 6px;
            width: 100%;
            background: #d3531a;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;
            -o-transition: .35s ease-in-out;
            transition: .35s ease-in-out;

            @media (max-width: 850px) {
                height: 5px;
            }

            @media (max-width: 600px) {
                height: 4px;
            }

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2) {
                top: 14px;
            }

            &:nth-child(3) {
                top: 28px;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 16px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }

                &:nth-child(3) {
                    top: 16px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }
        }
    }

    .name {
        color: #e76666;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;

        .very-small-screen {
            display: none;
            margin-bottom: 0 !important;

            @media (max-width: 600px) {
                display: block;
            }
        }

        .full-name {
            margin-bottom: 0 !important;
            font-weight: 600;

            @media (max-width: 600px) {
                display: none;
            }
        }

        .face {
            border-radius: 50%;
        }
    }

    .header-actions {
        display: flex;
        gap: 8px;
        align-items: center;

        .download-app {
            gap: 4px;
            padding-right: 4px;
            border-right: 1px solid black;
        }

        .login-signup {
            gap: 4px
        }

        .social-media-menu {
            padding-right: 4px;
            border-right: 1px solid black;

            .face {
                cursor: pointer;
            }

            .menu {
                z-index: 10;
                list-style: none;
                padding: 0;
                max-height: 0;
                overflow: hidden;
                transition: max-height 1s ease-in-out;
                left: -4.5px;

                li {
                    position: absolute;
                    top: 0;
                    transition: top 1s ease-in-out;

                    a {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        text-decoration: none;
                        color: #fff;
                        transition: all .3s;
                        font-size: 1.5em;

                        &.facebook {
                            background-color: #3B5998;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

                            i {
                                @extend %icon-position
                            }
                        }

                        &.instagram {
                            background-color: #dd2553;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

                            i {
                                @extend %icon-position
                            }
                        }

                        &.twitter {
                            background-color: #1E3050;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

                            i {
                                @extend %icon-position
                            }
                        }

                        &.quora {
                            background-color: #B92B27;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

                            i {
                                @extend %icon-position
                            }
                        }

                        &.whatsapp {
                            background-color: rgb(10, 63, 0);
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);


                            i {
                                @extend %icon-position
                            }
                        }

                        &.live {
                            background-color: #f70b03;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);


                            i {
                                @extend %icon-position
                            }
                        }
                    }

                }

                &.open {
                    overflow: initial;
                    max-height: 1000px;

                    li {
                        @for $i from 1 through 6 {
                            &:nth-child(#{$i}) {
                                position: relative;
                                top: calc(10px * #{$i})
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        span {
            display: none;
        }
    }
}