.container {
    z-index: 1000;
    top: 92px;
    max-height: 0;
    padding-block: 0;
    background: rgba(64, 224, 208);
    transition: max-height 0.8s ease-in-out, padding-block 0.8s ease-in-out;
    overflow: hidden;

    &.menu-open {
        max-height: 1000px;
        padding-block: 16px;
    }

    .menu-container {
        display: flex;
        height: inherit;
        box-sizing: border-box;
        opacity: 0.9;
        flex-wrap: wrap;
        border-radius: 0 0 8px 8px;

        .menu-category {
            list-style: none;
            color: black;

            .title {
                font-weight: bold;
                color: rgb(248, 117, 117);
            }
        }
    }

    .social-media-icons {
        float: right;
        display: flex;
        gap: 16px;
    }
}