.card {
    @media (max-width: 991.98px) {
        margin-bottom: 12px;
        padding: 0 !important;
    } 
}

.card-body {
    position: absolute;
    bottom: 0;
    text-align: center;
    .card-text {
    width: 70%;
    margin: 0 auto;
    background: rgba(46, 49, 146, .8);
    color: white;
}
}

.main-news-image {
    height: calc(500px + 1.5rem);
    @media (max-width: 991.98px) {
        height: 300px;
    }
}

.secondary-news-image {
    height: 250px;
    @media (max-width: 991.98px) {
        height: 300px;
    }
}