.header {
    display: flex;

    .header-name {
        display: flex;
        flex-grow: 1;
        border-bottom-color: #e76666 !important;
        padding-left: 8px;
        align-items: center;

        &:hover {
            color: white !important;
            background-color: #e76666;
            transition: background-color 1000ms ease-in-out, color 500ms ease-in-out;
        }
    }
}